repos:
  - repo: local
    hooks:
      - id: const-check-proxy-not-disabled
        name: const-check-proxy-not-disabled
        entry: "USE_PROXY = True"
        language: pygrep
        types: [python]
      - id: const-check-ssl-check-not-correct
        name: const-check-ssl-check-not-correct
        entry: "VERIFY_SSL = False"
        language: pygrep
        types: [python]
